<html>
<head>
    <title>Django yummy</title>
</head>
<body>
    <div>
      {% for post in posts %}
           {{ post.published_date }}
           {{post.title}}
           {{post.text|linebreaksbr}}
      {% endfor %}
    </div>
    <div>
        <p>Published in some date</p>
        <h2>
            <a href="">My first post</a>
        </h2>
        <p>Just a text don't mind about it</p>
    </div>
    <div>
        <p>Published in some date</p>
        <h2>
            <a href="">My first post</a>
        </h2>
        <p>Just a text don't mind about it</p>
    </div>
</body>
</html>